<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= titulo %> - <%= nome %></title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <h1><%= nome %></h1>
    <h2><%= titulo %></h2>

        <img src="<%= about.image %>" class="header-image" alt="Foto de perfil"/>

  </header>
  <main>
